In [41]:
import numpy as np
import pandas as pd

# 1번

#a
print("1-a")
a_1 = [["cs","cs","dt","dcd","dt","as","as",'ice',"ice",'ice'],['0001','0002','0003','0004','0005','0006','0007','0008','0009','0010'],[2.10,3.50,4.50,2.70,3.00,3.15,4.00,0.00,3.25,3.70]]
print(a_1)

#b
print("1-b")
b_1 = np.array(a_1)
print(b_1)

#c
print("1-c")
c_1 = pd.Series(a_1, index=['dep','sno','gpa'])
print(c_1)

1-a
[['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice'], ['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010'], [2.1, 3.5, 4.5, 2.7, 3.0, 3.15, 4.0, 0.0, 3.25, 3.7]]
1-b
[['cs' 'cs' 'dt' 'dcd' 'dt' 'as' 'as' 'ice' 'ice' 'ice']
 ['0001' '0002' '0003' '0004' '0005' '0006' '0007' '0008' '0009' '0010']
 ['2.1' '3.5' '4.5' '2.7' '3.0' '3.15' '4.0' '0.0' '3.25' '3.7']]
1-c
dep         [cs, cs, dt, dcd, dt, as, as, ice, ice, ice]
sno    [0001, 0002, 0003, 0004, 0005, 0006, 0007, 000...
gpa    [2.1, 3.5, 4.5, 2.7, 3.0, 3.15, 4.0, 0.0, 3.25...
dtype: object

In [42]:
# 2번

# a
print(sum(a_1[2])/len(a_1[1]))

# b
# mean출력
print(np.mean(list(map(float,b_1[2]))))
# median 출력
print(np.median(list(map(float,b_1[2]))))

# c
# mean 출력
print(np.mean(c_1["gpa"]))
# median 출력
print(np.median(c_1["gpa"]))

2.9899999999999998
2.99
3.2
2.99
3.2

In [46]:
# 3번

def calculating_median(list):

    list.sort()

    if len(list)%2 ==0 :
        second_median_num = len(list)//2
        first_median_num = second_median_num-1
        print((list[first_median_num]+list[second_median_num])/2)

    else:
        median_num = len(list)//2
        print(list[median_num])

gpa_median = a_1[2]
calculating_median(gpa_median)

3.2

In [66]:
# 4번

df = pd.DataFrame(a_1,index=["dep","sno","gpa"])

t_df = df.transpose()

sort_df = t_df.sort_values(by="gpa", ascending=False)
print(sort_df[2:3])

   dep   sno  gpa
7  ice  0008  3.7

In [79]:
# 5번

group_df = t_df['gpa'].groupby(t_df['dep'])
print(group_df.mean())
print(group_df.max())
print(group_df.min())

dep
as     3.375000
cs     1.050000
dcd    3.000000
dt     2.925000
ice    4.066667
Name: gpa, dtype: float64
dep
as     3.50
cs     2.10
dcd    3.00
dt     3.15
ice    4.50
Name: gpa, dtype: float64
dep
as     3.25
cs     0.00
dcd    3.00
dt     2.70
ice    3.70
Name: gpa, dtype: float64

In [113]:
# 6번

year_df = pd.DataFrame({ 'dep' : ["cs", "cs", "dt", "dt", "dt", "as", "as", "cs", "dt", "as"],
'sno' : ["0001", "0002", "0003", "0004", "0005", "0006", "0007", "0008", "0009", "0010"],
'gpa' : [2.10, 3.50, 4.50, 2.70, 3.00, 3.20, 4.00, 0.00, 3.20, 3.70],
'year' : [2018, 2018, 2019, 2019, 2020, 2020, 2020, 2020, 2021, 2021]})
year_df = year_df.groupby(['dep','year'],as_index=False).mean()
tmp = year_df.pivot(index='dep',columns='year',values = 'gpa')
print(tmp)

year  2018  2019  2020  2021
dep
as     NaN   NaN   3.6   3.7
cs     2.8   NaN   0.0   NaN
dt     NaN   3.6   3.0   3.2